<footer>
    <hr />
    <nav class="container flex py-6">
        <p class="font-semibold uppercase">My Web App</p>
    </nav>
</footer>

<style>
    footer {
        background-color: #000;
    }

    footer > div {
        @apply h-[60px] md:h-[120px];
    }

    hr {
        border-color: #333;
    }
</style>
