---
import GoogleIcon from "../../assets/google.svg";
export interface Props {
  changeAccount?: boolean;
  redirect?: string;
}

const { changeAccount, redirect } = Astro.props;
---

<a
  href={"/api/auth/signin?redirect=" + encodeURIComponent(redirect || "/my")}
  class="px-4 py-2 sm:px-5 sm:py-3 flex items-center bg-white max-w-[400px] rounded-lg shadow-md w-full"
>
  <img src={GoogleIcon} alt="" class="h-[34px] sm:h-[44px]" />
  <p
    class="text-black w-full text-center mr-[34px] sm:mr-[44px] text-lg sm:text-xl font-medium px-2"
  >
    {changeAccount ? `Sign in with other Account` : `Sign in with Google`}
  </p>
</a>
